.layout {
  display: block;
  height: 100%;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

.top-bar {
  height: 60px;
  box-shadow: 0 1px 2px 0 rgba(145, 158, 171, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 999;
  transform: translateY(0);
  transition: all 255ms ease-in-out;
  top: 0;
}

.user-grp {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: url(../../../assets/images/avatar.svg) center;
  background-size: cover;
}

.user-detail {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.user-email {
  display: flex;
  flex-direction: column;
}

.user-name {
  color: #454f5b;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
}

.user-email {
  color: #454f5b;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto";
}

.logout-btn {
  display: flex;
  align-items: center;
  width: 100px;
  height: 30px;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.logout-icon {
  display: flex;
}

.logout {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: #454f5b;
  white-space: nowrap;
}

.dashboard {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 2px;
  white-space: nowrap;
  margin-left: 20px;
}

.route-grp {
  display: flex;
  align-items: center;
  gap: 40px;
}

.caregiver-link {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: #454f5b;
  white-space: nowrap;
  text-decoration: none;
  padding-left: 6px;
  cursor: pointer;
}

.selectedcaregiverlink {
  color: #ff7043 !important;
  font-weight: 500;
}
