.patient-layout {
  position: relative;
  top: 60px;
  padding: 24px;
}

.patient-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.header-row {
  min-height: 40px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 8px;
  text-align: left;
  width: 40px;
}

.overflow-auto {
  overflow: auto;
}

.table {
  padding-top: 24px;
}

.table-block thead th {
  position: sticky;
  top: 0;
}

.table-block th {
  background: #f5f5f5;
  border-right: 1px solid #e0e0e0 !important;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  z-index: 1;
  white-space: nowrap;
  padding-right: 15px;
}

.action-head {
  border-left: 1px solid #e0e0e0 !important;
}

td {
  padding-left: 16px;
  padding-top: 11.2px;
  padding-bottom: 11.2px;
}

.user-name,
.email,
.address,
.medical-record {
  min-height: 48px;
  max-height: 48px;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding-right: 5px;
}

.action-btn {
  min-height: 48px;
  max-height: 48px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding-right: 5px;
}

.table__data__font-style {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
}

.add-btn {
  display: flex;
  justify-content: flex-end;
}

.plus-btn {
  background: #ff5722;
  border-radius: 8px;
  border: 0;
  width: 100px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 400;
}
